# Nuxt & Build Output
.nuxt
.output
dist
.cache

# Dependencies
node_modules
.pnpm-store

# Local Database & SQLite files
local.db
local.db-journal
local.db-wal
local.db-shm
*.sqlite
*.sqlite3
*.db

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Logs & Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# Vercel
.vercel

# Scratch & test exploration files
scripts/test-*
public/images/records/test-*
